@{
    ViewData["Title"] = "Alumini| john doe";
    ViewData["PageTitle"] = "john doe";
}

@section styles{

}

@section crumbs{

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/alumini">Alimini</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning text-white h-auto">
            <div class="row">
                <div class="col-md-8 pt-3">
                    <span>New Account! </span>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-success btn-sm mb-2 pl-4 pr-4">Verify</button>
                </div>
            </div>

            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="user-profile">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="user-photo m-b-30">
                                <img class="img-fluid w-100" src="assets/images/user-profile.jpg" alt="">
                            </div>
                            <div class="user-work">
                                <h4>work</h4>
                                <div class="work-content">
                                    <h3>Software Developer </h3>
                                    <address>Makerere Hill Rd. Makerere, 7062</address>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="user-profile-name">john doe</div>
                            <div class="user-Location">
                                <i class="ti-location-pin"></i> Kampala
                            </div>
                            <div class="user-job-title">Software Developer</div>
                            <div class="user-send-message">
                                <button class="btn btn-primary btn-addon" type="button">
                                    <i class="ti-email"></i>Send Message
                                </button>
                            </div>
                            <div class="custom-tab user-profile-tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#1" aria-controls="1" role="tab" data-toggle="tab">About</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="1">
                                        <div class="contact-information">
                                            <h4>Contact information</h4>
                                            <div class="phone-content">
                                                <span class="contact-title">Phone:</span>
                                                <span class="phone-number">+8801629599859</span>
                                            </div>
                                            <div class="email-content">
                                                <span class="contact-title">Email:</span>
                                                <span class="contact-email">hello@Admin Board.com</span>
                                            </div>
                                            <div class="website-content">
                                                <span class="contact-title">Facebook:</span>
                                                <span class="contact-website"><a href="https://facebook.com/johndoe" class="text-primary" target="_blank">@@johndoe</a></span>
                                            </div>
                                        </div>
                                        <div class="basic-information">
                                            <h4>Basic information</h4>
                                            <div class="birthday-content">
                                                <span class="contact-title">Birthday:</span>
                                                <span class="birth-date">January 31, 1990 </span>
                                            </div>
                                            <div class="gender-content">
                                                <span class="contact-title">Gender:</span>
                                                <span class="gender">Male</span>
                                            </div>
                                        </div>
                                        <div class="basic-information">
                                            <h4>Campus information</h4>
                                            <div class="gender-content">
                                                <span class="contact-title">Course:</span>
                                                <span class="course">Computer Science</span>
                                            </div>
                                            <div class="birthday-content">
                                                <span class="contact-title">Graduation Year:</span>
                                                <span class="birth-date">2016 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

}