@{
    ViewData["Title"] = "News Letters";
    ViewData["PageTitle"] = "New Publication";

}

@section styles{
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
}

@section crumbs{
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/newsletters">News Letters</a></li>
    <li class="breadcrumb-item active">New Publication</li>
</ol>
}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <form>
                    <input name="publicationId" value="0" hidden/>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">Publication Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="written_by">Written By</label>
                                <input type="text" class="form-control" id="written_by" name="written_by">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea class="form-control" id="content" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button type="reset" class="btn btn-outline-danger pl-3 pr-3">Clear</button>
                            <button type="button" class="btn btn-success pl-3 pr-3">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@section scripts{
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<script>
    $(document).ready(function() {
      $('#content').summernote({
        placeholder: 'Enter contnet',
        tabsize: 2,
        height: 200
      });
    });
</script>
}